

 {extends file='page.tpl'}  /* the default page of prestashop**/
 {block name="content"}
 Welcome to this page!
 <p>{l s='number of products :' mod='mymodule'} {$nb_product}</p>
 <p>categories:</p>
 <ul>
  {foreach from=$categories item=cat}
    <li>
    {$cat['name']}
    </li>
    {{/foreach}}
 </ul>

 {/block}